@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap");
$color-text: "Noto Sans TC", sans-serif;
// 主色系色碼 #ebbd68
$color-main:#e6c27f;
$color-black: black;
$color-white: white;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}
nav {
    display: grid;
    grid-template-columns: 20% auto 20%;
    text-align: center;
    background: $color-white;
    padding: 10px;
    color: $color-black;
    #link {
        a {
            color: $color-black;
            text-decoration: none;
            padding: 0 50px;

            transition: 0.5s;
            font-family: $color-text;
            &:hover {
                font-size: 36px;
            }
        }
        #link-logo {
            width: 100px;
        }
    }
    #social{
        img{
            padding: 30px;
            transition: 0.5s;
            &:hover{
                filter: invert(76%) sepia(68%) saturate(350%) hue-rotate(344deg) brightness(94%) contrast(95%);
            }
        }
    }
}

// 輪播圖區塊
#banner{
    // border:5px #FFAC55 solid;
    height: 800px;
    background-color:$color-main;
    // slick旁邊會有白色多於區域，使用overflow解決。
    overflow: hidden;
    #banner-box{
        width: 1200px;
        margin: 80px auto;
        img{
            height: 600px;
        }
       
    }
}

// 產品
#product {
    width: 1280px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10px auto;
    
}
.data{
    margin: 0 auto;
    width: 200px;
    text-align: center;
    h3{
        font-family: $color-text;
    }
    p{
        
        font-family: $color-text;
    }
}
@for $i from 1 through 6 {
    .img-box#{$i} {
        background-image: url(./img/bread#{$i}.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        
    }
}

.about-banner{
    width: 100%;
    height: 100vh;
    background-color: #ccc;
    background: linear-gradient(115deg,$color-main 50%,
    transparent 50%)center center / 100% 100%,
    url(./img/shop.jpg)
    right center / auto 100%;
    position: relative;
}
.container{
    width: 1200px;
    max-width: 1440px;
    height: 100%;
    
}
.banner-txt{
    width: 600px;
    padding: 30px;
    position: absolute;
    top: 250px;
    left: 30px;
    h1{
        font-family: $color-text;
    }
    p{
        font-family: $color-text;
    }
}
