@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 微軟正黑體;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto 20%;
      grid-template-columns: 20% auto 20%;
  text-align: center;
  background: white;
  padding: 10px;
  color: black;
}

nav #link a {
  color: black;
  text-decoration: none;
  padding: 0 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Noto Sans TC", sans-serif;
}

nav #link a:hover {
  font-size: 36px;
}

nav #link #link-logo {
  width: 100px;
}

nav #social img {
  padding: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav #social img:hover {
  -webkit-filter: invert(76%) sepia(68%) saturate(350%) hue-rotate(344deg) brightness(94%) contrast(95%);
          filter: invert(76%) sepia(68%) saturate(350%) hue-rotate(344deg) brightness(94%) contrast(95%);
}

#banner {
  height: 800px;
  background-color: #e6c27f;
  overflow: hidden;
}

#banner #banner-box {
  width: 1200px;
  margin: 80px auto;
}

#banner #banner-box img {
  height: 600px;
}

#product {
  width: 1280px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 10px auto;
}

.data {
  margin: 0 auto;
  width: 200px;
  text-align: center;
}

.data h3 {
  font-family: "Noto Sans TC", sans-serif;
}

.data p {
  font-family: "Noto Sans TC", sans-serif;
}

.img-box1 {
  background-image: url(./img/bread1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.img-box2 {
  background-image: url(./img/bread2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.img-box3 {
  background-image: url(./img/bread3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.img-box4 {
  background-image: url(./img/bread4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.img-box5 {
  background-image: url(./img/bread5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.img-box6 {
  background-image: url(./img/bread6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.about-banner {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  background: linear-gradient(115deg, #e6c27f 50%, transparent 60%) center center/100% 100%, url(./img/shop.jpg) right center/auto 100%;
  position: relative;
}

.container {
  width: 1200px;
  max-width: 1440px;
  height: 100%;
}

.banner-txt {
  width: 600px;
  padding: 30px;
  position: absolute;
  top: 250px;
  left: 30px;
}

.banner-txt h1 {
  font-family: "Noto Sans TC", sans-serif;
}

.banner-txt p {
  font-family: "Noto Sans TC", sans-serif;
}

footer {
  width: 100%;
  padding: 50px 50px;
  background-color: black;
  margin-top: 10px;
}

footer img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer #fter {
  text-align: center;
  font-size: 20px;
}

footer a {
  padding: 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: "Noto Sans TC", sans-serif;
  color: white;
}

footer p {
  color: white;
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
  margin: 10px 0;
}
/*# sourceMappingURL=style.css.map */