$color-black: black;
$color-white: white;
* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
}
nav {
    display: grid;
    grid-template-columns: 20% auto 20%;
    text-align: center;
    background: $color-white;
    padding: 10px;
    color: $color-black;
}

#link {
    a {
        color: $color-black;
        text-decoration: none;
        padding: 0 30px;
        transition: 0.5s;

        &:hover {
            font-size: 36px;
        }
    }
      #link-logo {
          width: 350px;
          height: 350px;
      }
    // #link-logo{
    //     width: 80px;
    //     height: 80px;
    // }
    
    
}

.logo {
}
