@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap");
$color-text: "Noto Sans TC", sans-serif;
// 主色系色碼 #ebbd68
$color-main: #e6c27f;
$color-black: black;
$color-white: white;
$main-phone: 767px;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}
nav {
    display: grid;
    grid-template-columns: 20% auto 20%;
    text-align: center;
    background: $color-white;
    padding: 10px;
    color: $color-black;
    grid-template-areas: " nav-box link social";
    @media screen and (max-width: $main-phone) {
        padding: 0;
    }
    #nav-box {
        grid-area: nav-box;
        display: none;
        position: relative;
        @media screen and (max-width: $main-phone) {
            text-align-last: left;
            display: block;
        }
        #reel {
            display: none;
            img {
                margin-top: 5px;
                margin-left: 120px;
                
            }
            width: 150px;
            height: 100vh;
            background: $color-main;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            a{
                display: table;
                margin: 10px auto;
                padding: 20px 0;
                text-decoration: none;
                color: $color-black;
                font-family: $color-text;
            }
           
        }
    }

    #link {
        grid-area: link;
        @media screen and (max-width: $main-phone) {
            display: none;
        }
        a {
            color: $color-black;
            text-decoration: none;
            padding: 0 50px;

            transition: 0.5s;
            font-family: $color-text;
            &:hover {
                font-size: 36px;
            }
        }
        #link-logo {
            width: 100px;
        }
    }
    #social {
        grid-area: social;
        @media screen and (max-width: $main-phone) {
            display: none;
        }
        img {
            padding: 30px;
            transition: 0.5s;
            &:hover {
                filter: invert(76%) sepia(68%) saturate(350%) hue-rotate(344deg) brightness(94%) contrast(95%);
            }
        }
    }
}

// 輪播圖區塊
#banner {
    // border:5px #FFAC55 solid;
    height: 800px;
    background-color: $color-main;
    // slick旁邊會有白色多於區域，使用overflow解決。
    overflow: hidden;
    @media screen and (max-width: $main-phone) {
        height: 450px;
    }
    #banner-box {
        width: 1200px;
        margin: 80px auto;
        img {
            height: 600px;
            object-fit: cover;
            @media screen and (max-width: $main-phone) {
                width: 100%;
                height: 300px;
            }
        }
    }
}

// 產品
#product {
    width: 1280px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px auto;
    @media screen and (max-width: $main-phone) {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}
.data {
    margin: 0 auto;
    width: 200px;
    text-align: center;
    @media screen and (max-width: $main-phone) {
        margin: 10px auto;
    }
    h3 {
        font-family: $color-text;
    }
    p {
        font-family: $color-text;
    }
}
@for $i from 1 through 6 {
    .img-box#{$i} {
        background-image: url(./img/bread#{$i}.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
}

.about-banner {
    width: 100%;
    height: 100vh;
    background-color: #ccc;
    background: linear-gradient(115deg, $color-main 50%, transparent 60%) center center / 100% 100%,
        url(./img/shop.jpg) right center / auto 100%;
    position: relative;
}
.container {
    width: 1200px;
    max-width: 1440px;
    height: 100%;
    @media screen and (max-width: $main-phone) {
        width: 100%;
    }
}
.banner-txt {
    width: 600px;
    padding: 30px;
    position: absolute;
    top: 250px;
    left: 30px;
    @media screen and (max-width: $main-phone) {
        top: 20px;
        left: 15px;
        width: 300px;
        padding: 15px;
    }
    h1 {
        font-family: $color-text;
    }
    p {
        font-family: $color-text;
        @media screen and (max-width: $main-phone) {
            font-size: 10px;
        }
    }
}

footer {
    width: 100%;
    padding: 50px 50px;
    background-color: $color-black;
    margin-top: 10px;
    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    #fter {
        text-align: center;
        font-size: 20px;
        // background-color: $color-main;
    }
    a {
        padding: 0 10px;
        align-items: center;
        text-decoration: none;
        font-family: $color-text;
        color: white;
    }
    p {
        color: $color-white;
        font-family: $color-text;
        text-align: center;
        margin: 10px 0;
    }
}


